.custome__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 170px;
    
}

.custome__card{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 30px;
   
    p{
        font-size: 18px;
    }
    h1{
       // font-size: 48px;
       font-size: clamp(1rem, -0.099rem + 4.51vw, 3rem);
       font-weight: 700;
    }
}