.custome__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 170px;
    @media (max-width:850px) {
        grid-template-columns: 1fr;
        
        text-align: center;
        svg{
            rotate: 90deg;
        }
    }
    
}

.custome__card{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width:850px) {
        align-items: center;
        justify-content: center;
    }
   
    p{
        font-size: 18px;
    }
    h1{
       // font-size: 48px;
       font-size: clamp(1rem, -0.099rem + 4.51vw, 3rem);
       font-weight: 700;
    }
}