.building__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    @media (max-width:800px) {
        flex-direction: column;
        text-align: center;
       
    }
}

.building__card{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width:850px) {
        align-items: center;
        justify-content: center;
        
    }
   
    p{
        font-size: 18px;
    }
    h1{
        // font-size: 64px;
        font-size: clamp(1.25rem, -0.261rem + 6.2vw, 4rem);
        font-weight: 700;
    }
}

.building__wrapper-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    gap: 30px;
    p{
        opacity: 50%;
    }
}

.building__wrap{
    display: flex;
    gap: 110px;
    background-color: #F6F6F6;
    padding: 15px;
    border-radius: 10px;
    @media (max-width: 800px) {
    gap: 60px;
    }
    @media (max-width:600px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
}